@import "bootstrap";

//creates a space from the top of the page for the navbar
body {
  padding-top: 20px;
}

.imageoverlay{
  padding-top: 0px;
  position: relative;
  width:100%;
  padding-bottom: 100px;
  height: 10px;
}

.imagetext{
  position: absolute;
  //top: 200px;
  //left: 0;
}

.navbar-inverse{
  padding-bottom: 0px;
  vertical-align: bottom;
  margin-bottom: 0;
}
