<div class="jumbotron text-center">
  <h1>Hello!</h1>

  <br/><br/>

  <p>Welcome to my blog. On here you can find information about me. I am just filling in this
  Because I have nothing else to put here</p>

  <p>I decided to create a new paragraph here with some sample text. That text is the text that you are reading now
    Do you feel good about that?</p>

  <p>In all seriousness though, If you would like to recieve updates from me about the blog, please put your email
    address in the box below and then press "Enter". Currently there is no checking on this and it is not linked into
  an email service</p>

  <div class="form-horizontal form-group form-group-lg row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-1 col-md-5 col-md-offset-2">
      <input type="email" class="form-control" placeholder="Please type your e-mail address." autofocus="autofocus"/>
    </div>
    <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-4 col-md-3">
        <button class="btn btn-primary btn-lg btn-block">Enter</button>
    </div>
  </div>

  <br/><br/>
</div>
