<div class="imageoverlay">
  <img src="assets/images/banner.jpg" class="img-rounded" alt="Cinque Terre" width="1140" height="100">
</div>

{{!<div class="imagetext">
  <h1>Web Design Posts</h1>
</div>

<br/><br/>
<p>This Category is dedicated to making this very website using ember</p>
<br><br><br>

}}
  {{#each model as |morty|}}
    <div class="jumbotron text-center">
      <h1>{{morty.title}}</h1>
      <hr class="my-4">
      <p>{{morty.content}}</p>
      </div>
  {{/each}}
